<br>
  <div>
    <div class="row" style="padding: 3%;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/HD-wallpaper-medical-hospital.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Healthcare</h5>
                  <p class="card-text">Healthcare is the improvement of health via the prevention, diagnosis, treatment, amelioration or cure of disease, illness, injury, and other physical and mental impairments in people.</p>
                  <a href="healthcare.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/pexels-pixabay-164501.jpg" height="155" width="155" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Banking and Finance</h5>
                  <p class="card-text">Banking and Finance explores the dynamic, fast-paced world of money shares, credit and investments. Finance is an essential part of our economy. as it provides the liquidity in terms of money.</p>
                  <a href="Banking finance.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/aero.jpg" width="100" height="155" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Aeronotics</h5>
                  <p class="card-text">Aeronautics is the study of the science of flight. Aeronautics is the method of designing an airplane or other flying machine. There are four basic areas that aeronautical engineers must understand.</p>
                  <a href="Aeronotics.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
    </div>
    <br>

    <div class="row" style="padding: 3%;">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/mob.jpg"  width="100" height="155" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Mobility</h5>
                  <p class="card-text">Mobility is often defined by the potential for movement and the ability to get from one place to another, through a single or multiple modes of transportation. In some instances, it can differ slightly from accessibility.</p>
                  <a href="Mobility.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/gis.jpg" width="100" height="155" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">GIS</h5>
                  <p class="card-text">GIS, or geographic information systems, are computer-based tools used to store, visualize, analyze, and interpret geographic data. Geographic data (also called spatial, or geospatial data) identifies the geographic location of features.</p>
                  <a href="GIS.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/insur.jpg"  width="100" height="155" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Insurance</h5>
                  <p class="card-text">Insurance is a contract between an individual or business with an insurance company to help provide financial protection and mitigate the risks associated with certain situations or events. There are various types of insurance available.</p>
                  <a href="Insurance.html" class="btn btn-secondary">More</a>
                </div>
              </div>
        </div>
    </div>
    
